<fieldset xmlns:th="http://www.w3.org/1999/xhtml">
    <legend>Enter Long Question and Answers</legend>
    <form action="http://localhost:8080/api/longQuestion/addLongQuestion" th:object="${longQuestion}" method="POST">
        <p>Question: <input type="text" th:field="*{question}" /></p>
        <p>Answer: <input type="text" th:field="*{answer}" /></p>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</fieldset>
