<fieldset xmlns:th="http://www.w3.org/1999/xhtml">
    <legend>Enter Short Question and Answers</legend>
    <form action="#" th:action="@{/shortQuestion}" th:object="${shortQuestion}" method="post">
        <p>Question: <input type="text" th:field="*{question}" /></p>
        <p>Answer: <input type="text" th:field="*{answer}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</fieldset>
