@charset "UTF-8";

/* Declare Abel, serif as the default font to be used for all elements */
* {
    font-family: Abel, sans-serif;
}

.question-types {
    margin: 10px auto;
    display: block;
    padding: 15px;
}

.question-types:not(:last-child) {
    border-bottom: thin #e3e3e3 solid;
}

/* Override back icon on the builder page to be larger and to better position */
.oi-arrow-thick-left {
    float: left;
    margin: 10px;
    font-size: 28px;
    color: #fff;
    z-index: 100;
}

/* Override the done icon on the builder page */
.oi-task {
    float: right;
    margin: 10px;
    font-size: 26px;
    color: #fff;
    z-index: 100;
}

.txtFields {
    float: left;
    min-width: 50%;
    margin-bottom: 7px;
    margin-left: 7px;
}

.renderBtnSubmit{
    display: inline;

    align-items:center;
    float: none;
}

.renderBtnSave{
    display: inline;

    align-items:center;
    float: none;
}

.renderBtnReset{
    display: inline;
    align-items:center;
    float: none;
}
.btnForms {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.btnRenderForms {
    margin-top: 10px;
    margin-left: 10px;
}

.btnForms,
#sidebar,
#dropdownMenuButton{
    font-weight: 600;
}

/* Applied to elements that shouldn't have other elements inline */

.clear-fix {
    clear: both;
}
html, body {
    background: #f7f7f7;
    height: 100%;
    width: 100%;
}

html label {
    width: 15%;
    margin-right: 10px;
}

header {
    background-color: #f94c4c;
    height: 5%;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
}

header h1 {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-weight: 400;
}

label {
    float: left;
    text-align: right;
    width: 10%;
}

form {
    height: auto;
    width: auto;
}

#questionnaire {
    width: 90%;
    font-weight: 600;
    text-align: left;
}

#input-elements {
    text-align: center;
    width: 100%;
    height: 10%;
    position: relative;
    padding: 25px;
}

#input-elements input {
    min-width: 65%;
    padding-left: 5px;
    margin-left: 10px;
}

#input-elements .btn-group button:nth-of-type(1) {
    margin-left: 15px;
    margin-right: 1px;
}

#input-elements input,
#input-elements button,
#input-elements #dropdown{
    display: inline-block;
    float: left;
    min-height: 40px;
    position: relative;
    vertical-align: middle;
}

#questionnaire-container:empty::before {
    font-size: 26px;
    content: attr(data-empty-msg);
    /* use of display block to enable styling retrieved from Adrift's answer */
    /* here: https://stackoverflow.com/questions/20300138/is-it-possible-to-add-placeholder-in-div-tag */
    display: block;
    width: 80%;
    min-height: 70%;
    margin: 0 auto;
    padding-top: 25%;
    padding-bottom: 25%;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

#questionnaire-container {
    font-weight: 400;
    border: 2px dashed rgba(107, 113, 113, 0.5);
    position: relative;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
}

/* Used to get rid of the border when there are elements in the container */
#questionnaire-container:not(:empty) {
    border: none;
}

#questionnaire-container .btn-group {
    width: 100%;
    margin: 10px auto;
}

#sidebar {
    background: #fff;
    position: fixed; /* Make the sidebar fixed to the viewports perspective */
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    margin: 20px;
    width: auto;
    height: auto;
}

#sidebar * {
    font-size: 30px;
}

#question-type-list {
    list-style: none;
    padding-left: 0;
}

#questions-container:empty::before {
    font-size: 26px;
    content: attr(data-empty-msg);
    display: block;
    width: 75%;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    padding-top: 25%;
    padding-bottom: 25%;
}

#questions-container {
    font-weight: 400;
    border: 2px dashed rgba(107, 113, 113, 0.5);
    min-height: 80%;
    margin-right: 20px;
    margin-top: 25px;
    padding: 25px;
    text-align: center;
    position: relative;
    float: right;
    width: 75%;
}

#questions-container > * {
    margin-bottom: 15px;
}

#questions-container:not(:empty) {
    border: none;
}

#question-controls {
    width: 90%;
    height: auto;
    position: relative;
}

#multiChoiceAnswersContainer * {
    display: inline-block;
    float: left;
    vertical-align: middle;
    margin-top: 0px;
}

